#media {  
/*
  size progressively decreasing 
*/
  background-image:
    radial-gradient(
      circle,
      darkgray 85%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 80%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 75%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 70%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 65%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 60%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 55%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 50%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 45%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 40%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 35%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 30%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 25%,
      transparent 0
      ),
    radial-gradient(
      circle,
      darkgray 10%,
      transparent 0
      );  
 
/*
  change all other values when changing this.
  I suppose this'd be easier to do in Sass.
*/
  background-size: 1em 1em;
  
/*
  If you want a vertical pattern change to repeat-x, also remember to  switch the background-positions' values. Eg. "2em 0" becomes "0 2em".
*/
  background-repeat: repeat-x;
  
/*
  based on background-size value
*/
  background-position:
    0 0, 
    0 1em, 
    0 2em, 
    0 3em, 
    0 4em, 
    0 5em, 
    0 6em,
    0 7em,
    0 8em,
    0 9em,
    0 10em,
    0 11em,
    0 12em,
    0 13em;
  }

#weddingRings {  
/*
  size progressively decreasing 
*/
  background-image:
    radial-gradient(
      circle,
      rgba(227, 106, 19,1) 85%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 1) 80%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 1) 75%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 1) 70%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 1) 65%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.9) 60%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.8) 55%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.7) 50%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.6) 45%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.5) 40%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.4) 35%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.3) 30%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.2) 25%,
      transparent 0
      ),
    radial-gradient(
      circle,
      rgba(227, 106, 19, 0.1) 10%,
      transparent 0
      );  
 
/*
  change all other values when changing this.
  I suppose this'd be easier to do in Sass.
*/
  background-size: 1em 1em;
  
/*
  If you want a vertical pattern change to repeat-x, also remember to  switch the background-positions' values. Eg. "2em 0" becomes "0 2em".
*/
  background-repeat: repeat-x;
  
/*
  based on background-size value
*/
  background-position:
    0 0, 
    0 1em, 
    0 2em, 
    0 3em, 
    0 4em, 
    0 5em, 
    0 6em,
    0 7em,
    0 8em,
    0 9em,
    0 10em,
    0 11em,
    0 12em,
    0 13em;
  }